.container{
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.btn{
  padding: 4px 40px;
  border: none;
  color: green;
  font-size: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 5px;

}
.btn:nth-child(1){
  color: red;
}

h1{
  text-align: center;
}

.container2{
max-width: 700px;
margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

