.container{
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
input{
  border:none;
  border-bottom: 1px solid black;
  padding: 4px;
  width: 30vw;
}
.btn{
  padding: 4px 40px;
  border: none;
  background: rgb(17, 17, 17);
  color: yellow;
  font-size: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.btn:nth-child(1){
  background: rgb(112, 5, 5);
}

h1{
  text-align: center;
}

.container2{
  max-width: 800px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: gray;
}
