<h1>Crud opration</h1>

<div class="container">
<form #myForm="ngForm" (ngSubmit)="onSubmit()" >
  <mat-form-field>
    <input type="text" matInput placeholder="Enter your name" name="name" [(ngModel)]="dataname"   required>

  </mat-form-field>
  <button type="submit" class="btn"><mat-icon>add</mat-icon></button>



  </form>
</div>
<section>
  <div *ngFor="let data of  cruddata let i=index" class="container2">
    <div>{{data}} </div>
    <div >
       <button (click)="remove(data)" class="btn"><mat-icon>delete</mat-icon>
       </button>
      <button (click)="edit(i)" class="btn">
        <mat-icon>edit</mat-icon>
      </button>
    </div>

  </div>
</section>



